In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'/Users/robertogarcia/Documents/Ciencia de Datos/Machine Learning'

In [3]:
os.chdir('/Users/robertogarcia/Documents/Ciencia de Datos/Machine Learning')

In [4]:
df= pd.read_csv('Recommend.csv')
df

       196   242  3  881250949
0      186   302  3  891717742
1       22   377  1  878887116
2      244    51  2  880606923
3      166   346  1  886397596
4      298   474  4  884182806
...    ...   ... ..        ...
99994  880   476  3  880175444
99995  716   204  5  879795543
99996  276  1090  1  874795795
99997   13   225  2  882399156
99998   12   203  3  879959583

[99999 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
n_users= df.user_id.unique().shape[0]
n_movies= df.movie_id.unique().shape[0]
train_data,test_data= train_test_split(df,testsize=0.25)

In [ ]:
train_data_matrix= np.zeros((n_users,n_movies))
for line in train_data.itertuples():
    train_data_matrix[line[1]-1,line[2]-1]= line[3]
train_data_matrix

In [ ]:
test_data_matrix= np.zeros((n_users,n_movies))
for line in test_data.itertuples():
    test_data_matrix[line[1]-1,line[2]-1]= line[3]
test_data_matrix

In [ ]:
from sklearn.metrics import pairwise_distances
user_similarity= pairwise_distances(train_data_matrix,metric='cosine')
movie_similarity= pairwise_distances(train_data_matrix.T,meric='cosine')
mean_user_rating= train_data_matrix.mean(axis=1)[:,np.newaxis]
ratings_diff= (train_data_matrix -mean_user_rating)
user_pred= mean_user_rating + user.similarity.dot(ratings_diff)/np.array([np.abs(user_similarity).sum(axis=1)]).T
user_pred